<main>
  <h2>방명록 남기기</h2>
  <form action="/guestbook/friend/<%= friend.id %>/guestbooks" method="post">
    <label for="title">제목:</label>
    <input type="text" name="title" id="title" required>
    <label for="content">내용:</label>
    <textarea name="content" id="content" required></textarea>
    <label for="category">카테고리:</label>
    <select name="category" id="category">
      <option value="Free">Free</option>
      <option value="Question">Question</option>
      <option value="Feedback">Feedback</option>
    </select>
    <div class="button-group">
      <button type="submit">글 작성</button>
      <button type="button" onclick="history.back()">취소</button>
    </div>
  </form>
</main>

<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 0 20px;
  }

  h2 {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #333;
    font-size: 1.8em;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 1750px;
    height: 700px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  label {
    font-size: 1.3em;
    margin-bottom: 20px;
    margin-top: 15px;
    color: #333;
    font-weight: bold;
  }

  input, textarea, select {
    margin-bottom: 30px;
    padding: 20px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  select {
    font-size: 1.2em;
  }

  select option {
    font-size: 1.2em;
    padding: 10px;
  }

  textarea {
    resize: vertical;
    min-height: 150px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  button {
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    flex: 1;
    margin: 0 100px;
  }

  button[type="button"] {
    background-color: #6c757d;
  }

  button:hover {
    background-color: #0056b3;
  }

  button[type="button"]:hover {
    background-color: #5a6268;
  }
</style>
