<main>
  <div class="friends-list">
    <% friends.forEach(friend => { %>
      <div class="friend-item">
        <a href="/guestbook/friend/<%= friend.id %>">
          <img src="<%= friend.iconUrl %>" alt="<%= friend.name %>" class="friend-icon">
          <p><%= friend.name %>의 방</p>
        </a>
      </div>
    <% }) %>
  </div>
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 0px;
  }
  .friends-list {
    padding-top: 75px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .friend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .friend-icon {
    width: 280px;
    height:280px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 70px;
  }
  .friend-item p {
    font-size: 1.4em;
    font-weight: bold;
  }
</style>
