<main>
  <div class="login-container">
    <form action="/auth/login" method="post">
      <label for="email">이메일:</label>
      <input type="email" name="email" id="email" required>
      <label for="password">비밀번호:</label>
      <input type="password" name="password" id="password" required>
      <button type="submit">로그인</button>
    </form>
    <a href="/auth/kakao">카카오톡으로 로그인</a>
  </div>
</main>
