<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 남긴 방명록</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            justify-content: flex-start;
        }

        h2 {
            font-size: 2em;
            margin-bottom: 20px;
            color: #333;
        }

        .guestbook-list {
            list-style-type: none;
            padding: 0;
            width: 1750px;
        }

        .guestbook-item {
            min-height: 150px;
            background: white;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
        }

        .guestbook-item h3 {
            margin-top: 0;
            font-size: 1.6em;
            color: #007BFF;
        }

        .guestbook-item p {
            font-size: 1.3em;
            color: #555;
            font-weight: bold;
        }

        .comment-list {
            list-style-type: none;
            padding: 0;
            margin-top: 10px;
        }

        .comment-item {
            background: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 0.9em;
            color: #333;
        }
    </style>
</head>
<body>
    <main>
        <h2>내가 남긴 방명록</h2>
        <ul class="guestbook-list">
          <% guestbooks.forEach(guestbook => { %>
            <li class="guestbook-item">
              <h3><%= guestbook.title %></h3>
              <p><%= guestbook.content %></p>
              <ul class="comment-list">
                <% guestbook.Comments.forEach(comment => { %>
                  <li class="comment-item"><%= comment.content %></li>
                <% }) %>
              </ul>
            </li>
          <% }) %>
        </ul>
    </main>
</body>
</html>
